### 데이터프레임 고급 인덱싱

In [1]:
import numpy as np 
import pandas as pd

#### loc 인덱서

In [2]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [3]:
df.loc['a']

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [4]:
df.loc["b":"c"]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [5]:
df.loc[["b", "c"]]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [6]:
df.A > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [7]:
df.loc[df.A > 15]

    A   B   C   D
c  18  19  20  21

In [8]:
df['A']

a    10
b    14
c    18
Name: A, dtype: int32

In [9]:
df.loc['A']

KeyError: 'A'

In [10]:
df2 = pd.DataFrame(np.arange(10, 26).reshape(4, 4), columns=["A", "B", "C", "D"])
df2

    A   B   C   D
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [11]:
df2.loc[1:3]

    A   B   C   D
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [12]:
# 인덱싱값을 행과 열 모두 받는 경우
df.loc["a", "A"]

10

In [13]:
df.loc["b":, "A"]

b    14
c    18
Name: A, dtype: int32

In [14]:
df.loc["b":, "A":"B"]

    A   B
b  14  15
c  18  19

#### iloc 인덱서

In [15]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [17]:
df.iloc[0, 1]

11

In [18]:
df.iloc[:2, 2]

a    12
b    16
Name: C, dtype: int32