# SQLite3 활용

### 접속

In [1]:
import sqlite3
conn = sqlite3.connect('./test.db')
cur = conn.cursor()
cur.execute('select * from test;')
rows = cur.fetchall()
for row in rows:
    print(row)
conn.close()

(1, '홍길동')
(2, '대조영')

In [2]:
conn = sqlite3.connect('./test.db')
with conn:
    cur = conn.cursor()
    cur.execute('select * from test;')
    rows = cur.fetchall()
    for row in rows:
        print(row)

(1, '홍길동')
(2, '대조영')

In [3]:
conn = sqlite3.connect('./test.db')
cur = conn.cursor()

In [4]:
# 테이블 구조 변경
sql = 'alter table test add column age integer;'
cur.execute(sql)

In [5]:
# 변경사항 저장
conn.commit()

### 데이터 추가

In [7]:
cur = conn.cursor()
sql = "insert into test(name, age) values('장보고', 1000);"
cur.execute(sql)

In [8]:
conn.commit()

In [9]:
# 파라메터는 튜플로 전달
writers = [('이우정', 40), ('김은숙', 45)]
sql = "insert into test(name, age) values(?, ?);"
for writer in writers:
    cur.execute(sql, writer)
conn.commit()

In [10]:
cur.execute(sql, ('김수현', 60))
conn.commit()

In [11]:
writers = [('노희경', 30), ('송지나', 35), ('임성한', 40)]
cur.executemany(sql, writers)
conn.commit()

### 데이터 조회

In [13]:
# 단건 조회
cur = conn.cursor()
select_sql = 'select * from test;'
cur.execute(select_sql)
row = cur.fetchone()
print(row)

(1, '홍길동', 300)

In [14]:
# 여러건 조회
rows = cur.fetchmany(3)
for row in rows:
    print(row)

(2, '대조영', 300)
(3, '장보고', 1000)
(4, '이우정', 40)

In [15]:
rows = cur.fetchmany(2)
for row in rows:
    print(row)

(5, '김은숙', 45)
(6, '김수현', 60)

In [16]:
rows = cur.fetchall()
for row in rows:
    print(row)

(7, '노희경', 30)
(8, '송지나', 35)
(9, '임성한', 40)

In [17]:
# 모두 조회
cur = conn.cursor()
cur.execute(select_sql)
rows = cur.fetchall()
for row in rows:
    print(row)

(1, '홍길동', 300)
(2, '대조영', 300)
(3, '장보고', 1000)
(4, '이우정', 40)
(5, '김은숙', 45)
(6, '김수현', 60)
(7, '노희경', 30)
(8, '송지나', 35)
(9, '임성한', 40)

In [18]:
# 순회 조회
cur = conn.cursor()
cur.execute(select_sql)
for row in cur:
    print(row)

(1, '홍길동', 300)
(2, '대조영', 300)
(3, '장보고', 1000)
(4, '이우정', 40)
(5, '김은숙', 45)
(6, '김수현', 60)
(7, '노희경', 30)
(8, '송지나', 35)
(9, '임성한', 40)

In [19]:
# 필요한 컬럼만 조회
cur = conn.cursor()
cur.execute("select name, age from test order by name;")
rows = cur.fetchall()
for row in rows:
    print(row)

('김수현', 60)
('김은숙', 45)
('노희경', 30)
('대조영', 300)
('송지나', 35)
('이우정', 40)
('임성한', 40)
('장보고', 1000)
('홍길동', 300)

In [21]:
# 원하는 순서 및 갯수
cur = conn.cursor()
cur.execute("select * from test order by age desc, name limit 3;")
rows = cur.fetchall()
for row in rows:
    print(row)

(3, '장보고', 1000)
(2, '대조영', 300)
(1, '홍길동', 300)

In [32]:
# 함수
cur = conn.cursor()
cur.execute('select count(*) from test;')
count = cur.fetchone()
print(count, count[0])

(9,) 9

In [33]:
cur.execute('select count(*) from test;')
count, = cur.fetchone()
print(count)

9

In [34]:
cur.execute('select max(age), min(age), sum(age), avg(age) from test;')
row = cur.fetchone()
print(row)

(1000, 30, 1850, 205.55555555555554)

In [35]:
cur.execute('select max(age), min(age), sum(age), avg(age) from test;')
max_age, min_age, sum_age, avg_age = cur.fetchone()
print(max_age, min_age, sum_age, avg_age)

1000 30 1850 205.55555555555554

### 검색

In [39]:
cur = conn.cursor()
cur.execute('select * from test where age < ?', (50,))
rows = cur.fetchall()
for row in rows:
    print(row)

(4, '이우정', 40)
(5, '김은숙', 45)
(7, '노희경', 30)
(8, '송지나', 35)
(9, '임성한', 40)

### 데이터 변경

In [41]:
cur.execute('update test set age=1300 where id=2;')
conn.commit()

### 데이터 삭제

In [43]:
cur.execute('delete from test where id=6;')
conn.commit()